<<<<<<< HEAD
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
#main-frame{
    display:flex;
    flex-wrap:wrap;
    width:800px;
    height:600px;
}
@media only screen and (max-width:900px){
    #main-frame{
        width:400px;
        height:300px;
    }
    img{
        width:100px;
        
    }
    
=======
#main-frame{
    display:flex;
    flex-wrap:wrap;
    width:800px;
    height:600px;
>>>>>>> 879c37f83d1c6b83883fc4955d588deedbce1286
}